
/*  Dropdown Filter Styles
	============================================================= */

.dropdown-filters{
  @include row();
  padding: 5px 0px 30px 10px;
  width: 100%;

  .team-container,
  .league-container,
  .date-container,
  .reset-contaienr {
    position: relative;

    @include media($smallest){
      @include span-columns(12);
    }

    @include media($second){
      @include span-columns(5);
    }

    @include media($first){
      @include span-columns(3);
    }

    &--title{
      font-size: 18px;
      color: $mainred;
      font-weight: 500;
      margin: 5px 0;
      padding: 0;
      text-transform: uppercase;
    }

    &--dropdown,
    &--select {
      width: 80%;
      height: 25px;
      line-height: 30px;
      display: inline-block;
      position: relative;
      bottom: 0;
      border: 1px solid $mainred;

      @include media($second){
        width: 90%;
      }

      @include media($first){
        width: 80%;
      }
    }

  }


  .date-container {

    &--title{
      margin-bottom: 1px;
    }

    &--clear {
     display: inline-block;
     font-family: "Arial", Serif;
     background: #c0392b;
     width: 20px;
     height: 20px;
     border-radius: 3px;
     cursor: pointer;
     position: relative;
     bottom: -5px;
    }

    &--select {
      width: 80%;
    }

    &--clear:before, &--clear:after {
     background-color: #fff;
     content: " ";
     height: 12px;
     left: 9px;
     position: absolute;
     top: 4px;
     width: 2px;
    }

    &--clear:before {
     transform: rotate(45deg);
     -ms-transform:rotate(45deg);
     -webkit-transform:rotate(45deg);
    }

    &--clear:after {
     transform: rotate(-45deg);
     -ms-transform:rotate(-45deg);
     -webkit-transform:rotate(-45deg);
    }
  }

}



/*
.box {
    display: none;
    width: 100%;
}

.live-link:hover + .box{
    display: block;
    position: absolute;
    z-index: 100;
}
*/
