
/*  Header-bar Styles
	============================================================= */

.header-bar{
  @include row();
  width: 100%;
  min-height: 50px;
  border-bottom: 2px solid $mainred;
  color: #fff;

  &--title-left,
  &--title-middle,
  &--time{
    padding: 0;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 50px;

    @include media($last){
      @include span-columns(12);
      margin: 5px 5px 5px 10px;
      line-height: 20px;
    }

    @include media($first){
      @include span-columns(4);
      margin: 0;
      line-height: 50px;
    }
  }

  &--title-left{
    margin-left: 10px;
  }

  &--time{
    text-align: right;
    font-size: 13px;

    @include media($last){
      text-align: left;
      line-height: 20px;
    }

    @include media($first){
      text-align: right;
      line-height: 50px;
    }
  }


}
