
/*  Left Sidebar Styles
	============================================================= */

.left-sidebar {
  margin-top: 20px;

  .team-container,
  .league-container {

    select {
      width: 170px;
      height: 20px;
    }

  }

  /* DATE FORM STYLES */

  .date-form {

    #datepicker {
      width: 145px;
      height: 20px;
    }

    #clear-date {
     display: inline-block;
     font-family: "Arial", Serif;
     background: #c0392b;
     width: 20px;
     height: 20px;
     border-radius: 3px;
     cursor: pointer;
     position: relative;
     bottom: -5px;
    }

    #clear-date:before, #clear-date:after {
     background-color: #fff;
     content: " ";
     height: 12px;
     left: 9px;
     position: absolute;
     top: 4px;
     width: 2px;
    }

    #clear-date:before {
     transform: rotate(45deg);
     -ms-transform:rotate(45deg);
     -webkit-transform:rotate(45deg);
    }

    #clear-date:after {
     transform: rotate(-45deg);
     -ms-transform:rotate(-45deg);
     -webkit-transform:rotate(-45deg);
    }
  }


}



/*
.box {
    display: none;
    width: 100%;
}

.live-link:hover + .box{
    display: block;
    position: absolute;
    z-index: 100;
}
*/
