
/*  Main-talbe Styles
	============================================================= */

.main-table {
  @include row();
  position: relative;
  min-height: 400px;

  .table {
    width: 100%;
    border-collapse: collapse;

    .table-header {
      background: #81e0a9;
    }

   td {
      border: 2px solid $mainred;
      color: #fff;
      padding: 8px 4px;
    }

    tr:nth-child(even) td {
      background: $secodnarybackground;
    }

    th {
      text-align: left;
      color: #000;
      font-weight: 500;
      padding: 8px 4px;
      text-transform: uppercase;
      border-right: 2px solid $mainred;
    }
  }



}
