
/*  Main table Styles
	============================================================= */

.main-table {
  position: relative;

  .result-container {
    padding-top: 3px;
  }

  .table-header {
    background: #81e0a9;
  }


  /* Loading Screen */

  .loading {
    content:"";
    position: absolute;
    background: #d9edf7;
    width: 100%;
    height: 400px;
    z-index: 100;
    //display: none;
    border-radius: 10px;

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      border: 10px solid #f3f3f3;
      border-top: 10px solid #3498db;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform:translate(-50%, -50%) rotate(0deg);}
        100% { transform:translate(-50%, -50%) rotate(360deg);}
    }
  }

  /* SPORT FORM STYLES */

  .sport-form {
    margin-bottom: 15px;
    border-bottom: 1px solid #AEBFCE;
    padding-bottom: 5px;

    input[type="radio"] {
      display: none;
      opacity: 0;
      width: 0;
      margin: 0;
    }

    label {
      color: #fff;
      position: relative;
    }

    // Setting the image
    label[for="fotboll"],
    label[for="korgboll"],
    label[for="ishockey"],
    label[for="afotboll"] {
      margin: 10px;
      display: inline-block;
      padding-left: 70px;
      line-height: 69px;
      cursor: pointer;
    }

    label[for="fotboll"] {
      background: url(../img/football2.png) no-repeat;
      background-position: 0 -69px;
    }

    label[for="korgboll"] {
      background: url(../img/basketball2.png) no-repeat;
      background-position: 0 -69px;
    }

    label[for="ishockey"] {
      background: url(../img/hockey2.png) no-repeat;
      background-position: 0 -73px;
    }

    label[for="afotboll"] {
      background: url(../img/afotball2.png) no-repeat;
      background-position: 0 -67px;
    }

    input:checked + label[for="fotboll"],
    input:checked + label[for="korgboll"],
    input:checked + label[for="ishockey"],
    input:checked + label[for="afotboll"] {
      background-position: 0 2px;
    }

    // Underline animation
    label[for="fotboll"]:before,
    label[for="korgboll"]:before,
    label[for="ishockey"]:before,
    label[for="afotboll"]:before {
      content: "";
      position: absolute;
      width: 60%;
      height: 4px;
      bottom: -5px;
      left: 0;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }

    label[for="fotboll"]:before {
      background-color: $football;
    }

    label[for="korgboll"]:before {
      background-color: $basketball;
    }

    label[for="ishockey"]:before {
      background-color: $hockey;
    }

    label[for="afotboll"]:before {
      background-color: $afootball;
    }

    input:checked + label[for="fotboll"]:before,
    input:checked + label[for="korgboll"]:before,
    input:checked + label[for="ishockey"]:before,
    input:checked + label[for="afotboll"]:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

}
