
/*  Colors for sports
	============================================================= */
$football : #2ecc71;
$hockey : #3498db;
$basketball : #e67e22;
$afootball : #e74c3c;

/*  Background shades
	============================================================= */
$background :#29282d;
$secodnarybackground : #2f2f30;

$mainred : #d1334e;
