html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*  Colors
	============================================================= */
/*  General Styles
	============================================================= */
* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container::after {
  clear: both;
  content: "";
  display: block;
}

.container .title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 35px;
  text-transform: uppercase;
}

/*  Left Sidebar Styles
	============================================================= */
.left-sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-top: 20px;
  /* DATE FORM STYLES */
}

.left-sidebar:last-child {
  margin-right: 0;
}

.left-sidebar .team-container select,
.left-sidebar .league-container select {
  width: 170px;
  height: 20px;
}

.left-sidebar .date-form #datepicker {
  width: 145px;
  height: 20px;
}

.left-sidebar .date-form #clear-date {
  display: inline-block;
  font-family: "Arial", Serif;
  background: #c0392b;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  bottom: -5px;
}

.left-sidebar .date-form #clear-date:before, .left-sidebar .date-form #clear-date:after {
  background-color: #fff;
  content: " ";
  height: 12px;
  left: 9px;
  position: absolute;
  top: 4px;
  width: 2px;
}

.left-sidebar .date-form #clear-date:before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.left-sidebar .date-form #clear-date:after {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*
.box {
    display: none;
    width: 100%;
}

.live-link:hover + .box{
    display: block;
    position: absolute;
    z-index: 100;
}
*/
/*  Main table Styles
	============================================================= */
.main-table {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  position: relative;
  /* Loading Screen */
  /* SPORT FORM STYLES */
}

.main-table:last-child {
  margin-right: 0;
}

.main-table .result-container {
  padding-top: 3px;
}

.main-table .table-header {
  background: #81e0a9;
}

.main-table .loading {
  content: "";
  position: absolute;
  background: #d9edf7;
  width: 100%;
  height: 400px;
  z-index: 100;
  border-radius: 10px;
}

.main-table .loading .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.main-table .sport-form {
  margin-bottom: 15px;
  border-bottom: 1px solid #AEBFCE;
  padding-bottom: 5px;
}

.main-table .sport-form input[type="radio"] {
  display: none;
  opacity: 0;
  width: 0;
  margin: 0;
}

.main-table .sport-form label {
  color: #fff;
  position: relative;
}

.main-table .sport-form label[for="fotboll"],
.main-table .sport-form label[for="korgboll"],
.main-table .sport-form label[for="ishockey"],
.main-table .sport-form label[for="afotboll"] {
  margin: 10px;
  display: inline-block;
  padding-left: 70px;
  line-height: 69px;
  cursor: pointer;
}

.main-table .sport-form label[for="fotboll"] {
  background: url(../img/football2.png) no-repeat;
  background-position: 0 -69px;
}

.main-table .sport-form label[for="korgboll"] {
  background: url(../img/basketball2.png) no-repeat;
  background-position: 0 -69px;
}

.main-table .sport-form label[for="ishockey"] {
  background: url(../img/hockey2.png) no-repeat;
  background-position: 0 -73px;
}

.main-table .sport-form label[for="afotboll"] {
  background: url(../img/afotball2.png) no-repeat;
  background-position: 0 -67px;
}

.main-table .sport-form input:checked + label[for="fotboll"],
.main-table .sport-form input:checked + label[for="korgboll"],
.main-table .sport-form input:checked + label[for="ishockey"],
.main-table .sport-form input:checked + label[for="afotboll"] {
  background-position: 0 2px;
}

.main-table .sport-form label[for="fotboll"]:before,
.main-table .sport-form label[for="korgboll"]:before,
.main-table .sport-form label[for="ishockey"]:before,
.main-table .sport-form label[for="afotboll"]:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 4px;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.main-table .sport-form label[for="fotboll"]:before {
  background-color: #2ecc71;
}

.main-table .sport-form label[for="korgboll"]:before {
  background-color: #e67e22;
}

.main-table .sport-form label[for="ishockey"]:before {
  background-color: #3498db;
}

.main-table .sport-form label[for="afotboll"]:before {
  background-color: #e74c3c;
}

.main-table .sport-form input:checked + label[for="fotboll"]:before,
.main-table .sport-form input:checked + label[for="korgboll"]:before,
.main-table .sport-form input:checked + label[for="ishockey"]:before,
.main-table .sport-form input:checked + label[for="afotboll"]:before {
  visibility: visible;
  transform: scaleX(1);
}
