*{
  box-sizing: border-box;
}

.loading {
  display: none;
}

.box {
    display: none;
    width: 100%;
}

.live-link:hover + .box,
.box:hover {
    display: block;
    position: absolute;
    z-index: 100;
}
